.container {
  width: 90%;
  max-width: 1320px;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
.container h1 {
  color: var(--primary-color);
  animation: 2s 1 slide-in;
  width: 100%;
  font-size: 2.3rem;
}

.content {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  animation: 3s 1 alternate fade-in;
}
.content p {
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 1.25em;
}
.content span {
  color: var(--accent-color);
}
.content button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: var(--text-active);
  font-size: 1.1rem;
}
.toast {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: max-content;
  padding: 0.5em 0.9em;
  background-color: rgb(111, 177, 63);
  border-radius: 8px;
  color: var(--text-light);
}

@keyframes slide-in {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  to {
    margin-left: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.add-social,
.skills {
  align-self: flex-start;
  animation: 3s 1 alternate fade-in;
}

.skills {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}
.skills h2 {
  font-size: 2rem;
}
.skills h3 {
  font-size: 1.6rem;
}
.skills .underline {
  margin-top: -0.6em;
  border: 1px solid var(--secondary-color);
}
.skills .icon-container {
  width: 100%;
  padding: 1.3em 0em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  gap: 0.9em;
}
.icon-container > div {
  display: flex;
  padding: 0.7em 0;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 620px) {
  .icon-container > div {
    justify-content: flex-start;
  }
}

.icon-container img {
  max-width: 100px;
  width: 70%;
  object-fit: cover;
  object-position: center;
}
