.social {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0.4em;
}
.social a {
  display: inline-block;
  width: 2.2rem;
}
.social a img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.social a img:hover {
  filter: invert(79%) sepia(61%) saturate(900%) hue-rotate(790deg)
    brightness(75%) contrast(90%);
}
