*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Primary colors for light mode */
  --primary-color: #0f172acd;

  /* Secondary colors for light mode */
  --secondary-color: #1a263970;

  /* Accent color for light mode */
  --accent-color: #3a506b;

  /* Background colors for light mode */
  --background-color: #f5f5f5;
  --background-light: #ffffff;

  /* Text colors for light mode */
  --text-color: #333333;
  --text-light: #ffffff;
  --text-dark: rgb(21, 21, 21);
  --text-active: rgb(255, 0, 0);
}

* a {
  color: var(--text-light);
  text-decoration: none;
}

body {
  background: var(--background-light);
}

.active {
  color: var(--text-active);
}
