*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Primary colors for light mode */
  --primary-color: #013346f1;

  /* Secondary colors for light mode */
  --secondary-color: #1a26395f;

  /* Accent color for light mode */
  --accent-color: #059669;

  /* Background colors for light mode */
  --background-color: #f5f5f5;
  --background-light: #ffffff;
  --background-dark: rgba(131, 131, 131, 0.436);

  /* Text colors for light mode */
  --text-color: #333333;
  --text-light: #ffffff;
  --text-dark: rgb(21, 21, 21);
  --text-active: #e11d48;
}

* a {
  color: var(--text-light);
  text-decoration: none;
}

body {
  background: var(--background-light);
}

.active {
  color: var(--text-active);
}
